@charset "utf-8";
/*////////////////////////////////////////////////////STRCUTURE////////////////////////////////////////////////////*/
body {
    width: 100%;
    padding-top: 0;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
    background-color: #EAEFF2;
}

#header {
    background-color: #333;
    border-bottom: rgba(255, 255, 255, 0.65) 1px inset;

    -webkit-box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.5);
    box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.5);

}

.transparent {
    opacity: 0;
}

#header_content {
    margin: auto;
    width: 920px;
}

#main {
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: #fff;
    width: 920px;
}

#left_column {
    float: left;
    width: 720px;
    margin-bottom: 30px;
}

#right_column {
    float: left;
    width: 200px;
    margin-bottom: 30px;
}

#right_column h2 {
    text-align: center;

    text-shadow: 0px 1px 0px #999, 2px 2px 0px #888, 2px 3px 0px #777;
    text-decoration: none;
    color: #FFF;
    font-family: Verdana, Geneva, sans-serif;
    font-weight: bold;
    font-size: 20px;
}

/*////////////////////////////////////////////////////MAIN CLASSES////////////////////////////////////////////////////*/

.right_bloc {
    margin-left: 8px;
    background-color: #454d5a;
    width: 180px;
    min-height: 50px;
    border: 1px rgba(0, 0, 0, 0.3) inset;
    margin-bottom: 10px;

    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;

    -webkit-box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0.5), inset 0px 1px 0px 0px rgba(255, 255, 255, 0.5);
    -moz-box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0.5), inset 0px 1px 0px 0px rgba(255, 255, 255, 0.5);
    box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0.5), inset 0px 1px 0px 0px rgba(255, 255, 255, 0.5);
}

.header_right_bloc {
    background-color: #444D59;
    padding-bottom: 8px;
    padding-top: 3px;
    margin-top: -1px;
    border: 1px rgba(0, 0, 0, 0.3) inset;
    border-bottom: 0px;

    -webkit-border-radius: 5px 5px 0px 0px;
    -moz-border-radius: 5px 5px 0px 0px;
    border-radius: 5px 5px 0px 0px;

    -webkit-box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0.5), inset 0px 1px 0px 0px rgba(255, 255, 255, 0.5);
    -moz-box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0.5), inset 0px 1px 0px 0px rgba(255, 255, 255, 0.5);
    box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0.5), inset 0px 1px 0px 0px rgba(255, 255, 255, 0.5);
}

/*//////Classes pour menus//////*/
.ul_menu {
    list-style: none;
}

.ul_menu li {
    margin-left: -25px;
    margin-bottom: 10px;

}

.ul_menu li a {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    height: 30px;
    width: 150px;
    background-color: #00A5F0;

    border: 1px rgba(0, 0, 0, 0.2) inset;

    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;

    -webkit-box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.3), inset 1px 1px 0px 0px rgba(255, 255, 255, 0.45), inset -1px -1px 0px 0px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.3), inset 1px 1px 0px 0px rgba(255, 255, 255, 0.45), inset -1px -1px 0px 0px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.3), inset 1px 1px 0px 0px rgba(255, 255, 255, 0.45), inset -1px -1px 0px 0px rgba(0, 0, 0, 0.1);

    text-shadow: 0 -1px rgba(0, 0, 0, 0.2);
    text-decoration: none;
    color: #FFF;
    font-family: Verdana, Geneva, sans-serif;
    font-weight: bold;
}

.ul_menu li a:hover {
    background-color: #4B8AD8;
}

.ul_menu2 {
    list-style: none;
}

.ul_menu2 li {
    margin-left: -25px;
    margin-top: 10px;
}

.ul_menu2 li a {
    z-index: 0;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    height: 30px;
    width: 150px;
    background-color: #888;

    border: 1px rgba(255, 255, 255, 0.2) solid;

    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;

    -webkit-box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.3), inset 1px 1px 2px 0px rgba(0, 0, 0, 0.7), inset -1px -1px 0px 0px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.3), inset 1px 1px 2px 0px rgba(0, 0, 0, 0.7), inset -1px -1px 0px 0px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.3), inset 1px 1px 2px 0px rgba(0, 0, 0, 0.7), inset -1px -1px 0px 0px rgba(0, 0, 0, 0.1);

    text-shadow: 0 -1px rgba(0, 0, 0, 0.3), 0 -2px rgba(0, 0, 0, 0.2);
    text-decoration: none;
    color: #FFF;
    font-family: Georgia, "Times New Roman", Times, serif;
    font-weight: bold;
}

.ul_menu2 li a:hover {
    background-color: #999;
}

.ul_menu3 {
    list-style: none;
    border: 1px solid white;
    background-color: #454d5a;
    width: 120px;
    margin-left: 9px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    overflow: hidden;
}

.ul_menu3 li {
    margin-left: -40px;
}

.ul_menu3 li a {
    display: table-cell;
    vertical-align: middle;
    padding-left: 5px;
    height: 20px;
    width: 160px;

    border: 1px rgba(0, 0, 0, 0.2) dashed;
    text-decoration: none;
    color: #D1D1D1;
    font-family: Verdana, Geneva, sans-serif;
    font-size: 12px;
    font-weight: bold;
}

.ul_menu3 li a:hover {
    background-color: #999;
    color: #FFF;
}

/*//////Classes articles//////*/

.article {
    margin-top: 10px;
    margin-bottom: 30px;
}

.article_title {
    background-color: #34a1e5;
    border: 1px rgba(0, 0, 0, 0.2) inset;
    border-left: 0px;
    border-right: 0px;

    -webkit-box-shadow: 0px 3px 8px 0px rgba(0, 0, 0, 0.3), inset 0px 1px 0px 0px rgba(255, 255, 255, 0.45), inset -1px -1px 0px 0px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0px 3px 8px 0px rgba(0, 0, 0, 0.3), inset 0px 1px 0px 0px rgba(255, 255, 255, 0.45), inset -1px -1px 0px 0px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 3px 8px 0px rgba(0, 0, 0, 0.3), inset 0px 1px 0px 0px rgba(255, 255, 255, 0.45), inset -1px -1px 0px 0px rgba(0, 0, 0, 0.1);
}

.article_title h3 {
    text-shadow: 0 -1px rgba(0, 0, 0, 0.2);
    text-decoration: none;
    color: #FFF;
    font-family: Verdana, Geneva, sans-serif;
    font-weight: bold;
    padding-left: 10px;
    font-size: 16px;

    margin: 5px 0px;
}

.article > p, .article_content {
    padding: 0px 10px;
    font-family: Georgia, "Times New Roman", Times, serif;
    color: #666;
}

/*//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

#corps {
    background-color: #fff;
    width: 720px;
    border: 1px rgba(0, 0, 0, 0.3) inset;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;

    -webkit-box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0.5);
    box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0.5);
}

#page_title {
    background-color: #444D59;
    border: 1px rgba(0, 0, 0, 0.2) inset;
    border-left: 0px;
    border-right: 0px;
    margin-top: -1px;

    -webkit-border-radius: 5px 5px 0px 0px;
    -moz-border-radius: 5px 5px 0px 0px;
    border-radius: 5px 5px 0px 0px;

    -webkit-box-shadow: inset 0px 1px 0px 0px rgba(255, 255, 255, 0.45), inset -1px -1px 0px 0px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: inset 0px 1px 0px 0px rgba(255, 255, 255, 0.45), inset -1px -1px 0px 0px rgba(0, 0, 0, 0.1);
    box-shadow: inset 0px 1px 0px 0px rgba(255, 255, 255, 0.45), inset -1px -1px 0px 0px rgba(0, 0, 0, 0.1);
}

#page_title h2 {
    text-shadow: 0px 1px 0px #999, 2px 2px 0px #888;
    color: #FFF;
    font-family: Verdana, Geneva, sans-serif;
    font-weight: bold;
    padding-right: 10px;
    font-size: 20px;
    text-align: right;

    margin: 5px 0px;
}

#page_changer {
    background-color: #F2F2F2;
    height: 50px;
    border-top: 1px solid rgba(0, 0, 0, 0.2);

    -webkit-border-radius: 0px 0px 5px 5px;
    -moz-border-radius: 0px 0px 5px 5px;
    border-radius: 0px 0px 5px 5px;
    padding-bottom: 10px;
}

#page_changer ul {
    list-style: none;
    display: table;
    margin: auto;
    margin-top: 15px;
}

#page_changer li {
    display: inline-block;
    margin-right: 25px;
    text-align: center;
}

#page_changer li:nth-last-child(1) {
    margin-right: 0px;
}

#page_changer li:nth-child(1) {
    margin-left: -40px;
}

#page_changer li a {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    height: 30px;
    width: 320px;
    background-color: #00A5F0;

    border: 1px rgba(0, 0, 0, 0.2) inset;

    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;

    -webkit-box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.3), inset 1px 1px 0px 0px rgba(255, 255, 255, 0.45), inset -1px -1px 0px 0px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.3), inset 1px 1px 0px 0px rgba(255, 255, 255, 0.45), inset -1px -1px 0px 0px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.3), inset 1px 1px 0px 0px rgba(255, 255, 255, 0.45), inset -1px -1px 0px 0px rgba(0, 0, 0, 0.1);

    text-shadow: 0 -1px rgba(0, 0, 0, 0.2);
    text-decoration: none;
    color: #FFF;
    font-family: Verdana, Geneva, sans-serif;
    font-weight: bold;
}

#page_changer li a:hover {
    background-color: #4B8AD8;
}

#connexion {
    padding-bottom: 15px;
    border-bottom: 0px;
}

#connexion form {
    text-align: center;
    margin-top: 5px;
}

#connexion form input {
    background-color: #1E1E1E;
    width: 135px;
    height: 20px;
    margin-bottom: 5px;

    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border: 1px solid gray;

    color: white;
    text-align: center;

    -webkit-box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.3);

    background-image: url(../images/id.png);
    background-repeat: no-repeat;
    background-position: 7px;
}

#connexion form #userphoto {
    background-color: #1E1E1E;
    margin-bottom: 15px;

    margin: auto auto 15px;
    padding: 5px;
    text-align: center;
    width: 80px;

    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border: 1px solid gray;

    color: white;
    text-align: center;

    -webkit-box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.3);

    background-position: 7px;
}

#connexion form input[type="text"]:hover, #connexion form input[type="text"]:focus {
    -webkit-box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.3), 0px 0px 5px 2px rgba(255, 255, 255, 0.2);
    -moz-box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.3), 0px 0px 5px 2px rgba(255, 255, 255, 0.2);
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.3), 0px 0px 5px 2px rgba(255, 255, 255, 0.2);
    border: 1px solid orange;
}

#connexion form input[type="submit"] {
    background-image: url(../images/connect3.png);
    background-repeat: no-repeat;
    background-position: 7px;
    height: 25px;
    cursor: pointer;
}

#connexion form input[type="submit"]:hover {
    background-color: #444;
    border: 1px solid orange;
}

#menu {
    background-color: #F5F5F5;
}

#social {
    background-color: #454d5a;
}

#facebook_icon {
    background-image: url(../images/facebook_16.png);
    background-repeat: no-repeat;
    background-position: 10px;
}

#twitter_icon {
    background-image: url(../images/twitter_16.png);
    background-repeat: no-repeat;
    background-position: 10px;
}

#rss_icon {
    background-image: url(../images/rss_16.png);
    background-repeat: no-repeat;
    background-position: 10px;
}

#contact_icon {
    background-image: url(../images/email_16.png);
    background-repeat: no-repeat;
    background-position: 10px;
}

#social li img {
    z-index: 50;
    position: relative;
    top: 29px;
    left: 10px;
}

#connexion h2, #social h2 {
    margin-top: 5px;
}

#footer {
    margin-top: 8px;
    margin-bottom: 30px;
    background-color: #666;
    width: 720px;
    border: 1px rgba(0, 0, 0, 0.3) inset;
    float: left;

    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;

    -webkit-box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.3), inset 1px 1px 0px 0px rgba(255, 255, 255, 0.45), inset -1px -1px 0px 0px rgba(0, 0, 0, 0.1));
    -moz-box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.3), inset 1px 1px 0px 0px rgba(255, 255, 255, 0.45), inset -1px -1px 0px 0px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.3), inset 1px 1px 0px 0px rgba(255, 255, 255, 0.45), inset -1px -1px 0px 0px rgba(0, 0, 0, 0.1);
}

#footer p {
    text-align: right;
    text-shadow: 0 -1px rgba(0, 0, 0, 0.2);
    text-decoration: none;
    color: #CCC;
    font-family: Verdana, Geneva, sans-serif;
    font-weight: bold;
    font-size: 12px;
    padding-right: 10px;
}


#footer p a {
    color: #ffffff;
    text-decoration: none;
}

#footer p a:hover {
    color: #CCCCCC;
    text-decoration: none;
}

#bloc_last_news {
    margin-top: 10px;
    background-color: #EBEBEB;
}

#bloc_autres {
    background-color: #EBEBEB;
}

.cursorized {
    cursor: pointer;
}

#adminmenu {
    text-align: center;
    width: 100%;
    padding-bottom: 30px;
}

#adminmenu ul {
    margin: auto;
}

#adminmenu li {
    float: left;
    list-style-type: none;
}

#adminmenu a {
    text-decoration: none;
    color: #888;
    font-size: 17px;
    padding: 10px 20px;
}

#adminmenu a:hover {
    background-color: #ccc;
    text-decoration: none;
    color: #888;
    font-size: 17px;
}

.clear {
    clear: both;
}

.left {
    float: left;
}

.buttonify {
    background-color: #00A5F0;
    border: 1px inset rgba(0, 0, 0, 0.2);
    border-radius: 5px 5px 5px 5px;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.3), 1px 1px 0 0 rgba(255, 255, 255, 0.45) inset, -1px -1px 0 0 rgba(0, 0, 0, 0.1) inset;
    color: #FFFFFF;
    display: table-cell;
    font-family: Verdana, Geneva, sans-serif;
    font-weight: bold;
    height: 22px;
    text-align: center;
    text-decoration: none;
    text-shadow: 0 -1px rgba(0, 0, 0, 0.2);
    vertical-align: middle;
    padding: 5px 10px;
}

.message {
    -moz-animation: 5s linear 0s normal none infinite animate-bg;
    background-image: -moz-linear-gradient(135deg, rgba(255, 255, 255, 0.05) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.05) 50%, rgba(255, 255, 255, 0.05) 75%, transparent 75%, transparent);
    background-size: 40px 40px;
    border: 1px solid;
    box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.4) inset;
    color: #FFFFFF;
    cursor: pointer;
    margin: auto;
    padding: 9px 5px 5px;
    text-align: center;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.5);
    width: 60%;
}

#messages {
    bottom: -2px;
    display: none;
    position: fixed;
    width: 100%;
    z-index: 4000;
    font-family: arial;
}

.msg_info {
    background-color: #4EA5CD;
    border-color: #3B8EB5;
}

.msg_error {
    background-color: #DE4343;
    border-color: #C43D3D;
}

.msg_warning {
    background-color: #EAAF51;
    border-color: #D99A36;
}

.msg_success {
    background-color: #61B832;
    border-color: #55A12C;
}

.message h3 {
    color: #FFFFFF;
    margin: 0 0 5px;
}