/* 
    Document   : apply.css
    Created on : 2010-03-30, 21:31:17
    Author     : fizyk
    Description:
        Purpose of the stylesheet follows.
*/

.error_list {
  color: red !important;
  margin: 0 !important;
  padding: 0 !important;
}

.sf_apply ul
{
    list-style: none;
    margin-left: 20px;
    padding-left: 0px;
}

.sf_apply li input
{
    vertical-align: top;
}

.sf_apply li
{
    padding: 1px 0px;
    margin: 2px 0px;
    display:inline;
}

.sf_apply li.submit_row
{
    margin-left: 155px;
    border-left: 1px solid #979d9d;
    padding-left: 10px;
}


.sf_apply label
{
    color: #444444;
    font-weight: bold;
}

.sf_apply div#recaptcha_widget_div
{
    display: inline-block;
}